.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 90px);
  width: 100vw;
  // border: 1px solid red;
  overflow: auto;
  padding: 0px 0 70px 0;
  background: rgba(240, 240, 247, 1);

  .baseInfoWrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; // 注意此处
    width: 100%;
    background: #fff;
    height: 300px;
    padding: 20px 16px;

    .avatarWrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      height: 50%;
      // border: 1px saddlebrown solid;
      padding: 0 10px;

      .avatarImageWrapper {
        display: flex;
        flex-direction: row;
      }

      .navButton {
        position: absolute;
        top: 45%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        width: 24px;
      }
    }

    .mainInfoWrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      flex: 1;
      border-radius: 10px;
      background: linear-gradient(-65deg, #DB4142, #F65852);
      color: #fff;

      .infoItemWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        // border: 1px dashed #fff;
        font-size: 1.3rem;

        .infoItemIcon {
          width: 2rem;
          margin-bottom: 6px;
        }
      }
    }

  }

  .myProfitInfoWrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; // 注意此处
    width: 100%;
    background: #fff;
    height: 250px;
    margin-top: 16px;
    padding: 10px;
    // border: 1px saddlebrown solid;
  }

  .moreServiceInfoWrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; // 注意此处
    width: 100%;
    background: #fff;
    height: 250px;
    margin-top: 16px;
    padding: 10px;
    // border: 1px saddlebrown solid;
  }

  .title {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 10px;

    .contentItemWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // flex: 1;
      width: 33.33333%;
      // border: 1px solid red;
      cursor: pointer;

      .contentItemImage {
        width: 32px;
      }

      .contentItemLabel {
        font-size: 1.2rem;
        margin-top: 6px;
      }

    }
  }

}

.popupContentItemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  height: 60px;
  width: calc(100% - 16px);
  margin-left: 16px;
  padding-left: 10px;
  border-bottom: #ccc 1px solid;
  color: #1d1d1d;
  font-size: 1.1rem;
}