.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 70px);
  width: 100vw;
  // border: 1px solid red;
  overflow: auto;
  padding: 0px 0 70px 0;
  background: rgba(240, 240, 247, 1);


}