.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100vw;
  // border: 1px solid red;
  overflow: auto;
  padding: 10px 0 70px 0 ;
}