.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // border: 1px solid red;
  overflow: hidden;
  background: #F0F0F7;
  color: #030303;
  font-size: 1.4rem;

  .tipInfoWrapper {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    width: calc(100vw - 2rem);
    height: 3rem;
    background: #FFFBE5;
    color: #F77800;
    border-top: 1px solid #EAEAEA;
  }

  .userInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 2rem);
    padding: 1rem;
    background: #fff;
    // border: 1px dashed #030303;
    border-top: 1px solid #eee;
    color: #444;

    .avatarWrapper {
      width: 12rem;
      background-clip: border-box;
      border-radius: 0.75rem;
      // box-shadow: 0px 4px 14px 4px rgba(0,0,0,0.15);
      border: 1px solid rgba(0,0,0,0.35);
    }

    .infoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 2rem;
      line-height: 2.4rem;
      height: 100%;

      .cWrapper {
        font-weight: normal;
      }
    }
  }

  .feeInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: #fff;
    margin-top: 1rem;

    .feeItemWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      // border: 1px solid red;
      color: #878787;
    }
  }

  .baseInfoWrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1rem;
    margin-top: 1rem;
    width: calc(100% - 2rem);

    .mutualItemWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #e0e0e0;
      padding: 1rem;
      box-sizing: border-box;

      .indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 2rem;
        font-size: 1.2rem;
        background: #94BD38;
        color: #fff;
        border-radius: 0.4rem;
        margin-left: 0.8rem;
        // transform: translateY(-0.1rem);
      }
    }
  }

  .eventInfoWrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1rem;
    margin-top: 1rem;
    width: calc(100% - 2rem);

    .titleWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
    }

    .contentWrapper {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 1rem;
      margin-top: 1rem;
      width: calc(100% - 2rem);
      margin-bottom: 1rem;
      color: #6C6C6C;
    }

  }

  .itemLabel {
    color: #030303;
  }

  .itemValue {
    color: #5a5a5a;
  }

  .chargeButton {
    width: 100%;
    height: 5rem;
    background: #F75A53;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}