.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 70px);
  width: 100vw;
  // border: 1px solid red;
  overflow: hidden;
  padding: 0px 0 70px 0;
  background: #f0f0f7;

  .infoWrapper {
    padding: 10px 30px;
    font-size: 1.2rem;
    background: #fff;
    margin-top: 10px;
  }

  .qrCodeWrapper {
    align-self: flex-start;
    width: 100%;
    margin-top: 30px;

    .qrCodeContainer {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 10px 30px;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .qrCode {
        width: 10rem;
        height: 10rem;
      }

      .qrDescription {
        color: #212121;
        font-size: 1.4rem;
        margin-top: 10px;
      }
    }
  }

  .verifyPhoneNoWrapper {
    align-self: flex-start;
    width: 100%;
    margin-top: 30px;

    .phoneNoContainer {
      display: flex;
      flex-direction: row;
      background: #fff;
      padding: 10px 30px;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }

  .title {
    font-size: 1.2rem;
    color: #787878;
    margin-left: 30px;
  }

}