.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // border: 1px solid red;
  overflow: hidden;
  background: #f0f0f7;

  .infoWrapper {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background: #fff;
    margin-top: 1rem;
  }

  .qrCodeWrapper {
    align-self: flex-start;
    width: 100%;
    margin-top: 2rem;

    .qrCodeContainer {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 1rem 3rem;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      .qrCode {
        width: 10rem;
        height: 10rem;
      }

      .qrDescription {
        color: #212121;
        font-size: 1.4rem;
        margin-top: 1rem;
      }
    }
  }

  .verifyPhoneNoWrapper {
    align-self: flex-start;
    width: 100%;
    margin-top: 3rem;

    .phoneNoContainer {
      display: flex;
      flex-direction: row;
      background: #fff;
      padding: 1rem 3rem;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1rem;
      font-size: 1.4rem;
    }
  }

  .title {
    font-size: 1.4rem;
    color: #787878;
    margin-left: 2rem;
  }

}